.banner {
    padding: 40px;
    background-image: -moz-linear-gradient(center top , #0044CC, #0088CC);
    color: white;
}
body {
    font-size: 16px;
    font-family: arial;
}
i {
    margin-right: 8px
}
h1 {
    font-size: 46px;
}