@font-face { 
	font-family: RegencieLight; 
	src: url('../fonts/RegencieLight.ttf'); 
} 
html, body {
    font-size: 16px;
    font-family: RegencieLight;
    color: white;
    background-image:url(../img/dark_wall.png);
    height: 100%;
}
#container {
    border-left: 1px solid black;
    border-right: 1px solid black;
    background-image:url(../img/shattered.png);
    color: black;
}
.landing {
    background: url(../img/concert.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/concert.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/concert.jpg', sizingMethod='scale')";
    zoom:1;
}
.landing_box {
	height:400px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 30%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
.landing_box_right {
	border-left: 1px solid #eee;
}
.landing_box_form {
    margin-top:40px;
}
.navbar {
    margin-left: auto;
    margin-right: auto; 
    width: 1170px;
}
h1.banner {
    font-size: 46px;
}
.header {
    position: relative;
    padding: 40px 0;
    color: #fff;
    background: #0088CC; /* Old browsers */
    background: -moz-linear-gradient(270deg,  #0088CC 0%, #0044CC 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, center top, bottom top, color-stop(0%,#0088CC), color-stop(100%,#0044CC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(270deg,  #0088CC 0%,#0044CC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(270deg,  #0088CC 0%,#0044CC 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(270deg,  #0088CC 0%,#0044CC 100%); /* IE10+ */
    background: linear-gradient(270deg,  #0088CC 0%,#0044CC 100%); /* W3C */
    background: -moz-linear-gradient(center top, #0088CC, #0044CC);
    
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088CC', endColorstr='#0044CC',GradientType=0 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
  	margin-top:41px;
    padding: 15px;
}
.header:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
   	content: '';
	background: url('../img/back.png') repeat center center;
}
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
#push, #footer {
    height: 60px;
}
i.pre-text {
    padding: 0 10px 0 0;
}
.form_div {
	margin-top:62px;
}
#table_id tr td {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}
#songthread_entry_list tr td {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #454444;
}
.scrolling {
    overflow-y: scroll;
}
.scroll_headers {
    padding-right: 16px;
}
.scroll_padded {
    width: 99%;
    margin-left: 5px;
    table-layout: fixed;
}
.scroll_padded th {
    padding: 0 0 0 5px;
    text-align: left;
}
.scroll_padded td {
    padding: 0 0 0 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
}
.scroll_padded th.amount {
    padding: 0 5px 0 0;
    text-align: right;
}
.scroll_padded td.amount {
    padding: 0 5px 0 0;
    text-align: right;
}
#scroll_body {
    height: 300px;
}
textarea {
    resize: none;
}
.hero-unit {
	background-color: inherit
}
#input_content {
    width:760px
}
.comment {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px 20px 20px 20px;
}
input, button {
    font-family: inherit;
}