{% extends "base.html" %}
{% block primary %}
    <div class="span3">
        <h3>Latest threads</h3>
        {% for songthread in latest_songthreads %}
            <a class="pull-right" href="{% url songthread_detail songthread.id %}"><i class="icon-search"></i></a>
            <iframe src="{{ spotify_embed_url }}{{ songthread.track.spotify_uri }}" width="250" height="80" frameborder="0" allowtransparency="true"></iframe>
        {% endfor %}
        <p><a class="btn btn-primary btn-large" href="{% url songthread_create %}"><i class="pre-text icon-plus icon-white"></i>Create your own</a></p>
   </div>
    <div class="span7" id="content">
        <h3 align="center">Most popular threads</h3>
        {% if object_list|length == 0 %}
            <p>There are currently no threads</p>
        {% endif %}

        <div id="songthread_canvas_container">
            <canvas width="647" height="585" id="songthread_canvas">
                <p>Anything in here will be replaced on browsers that support the canvas element</p>
            </canvas>
        </div>
        <div id="songthread_tags">
            <ul>
                {% for songthread in object_list %}
                    <li><a href="{% url songthread_detail songthread.id %}">{{ songthread }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div id="top_users" class="span2">
        <h3 class="pull-right">Top users</h3>
        <ul class="thumbnails">
            {% for user in top_users %}
                <li class="span12">
                    <a href="{% url view_profile user.id %}" class="thumbnail">
                        <img src="{{ user.get_profile.get_profile_image_path}}" alt="{{ user }}">
                    </a>
                </li>
            {% endfor %}
       </ul>
   </div>
{% endblock %}