{% extends "base.html" %}
{% block title %} Start a thread {% endblock %}
{% block primary %}
<h2>Start your own thread</h2>
<div class="span8">
<p class="form_div lead">Search for a track</p>
    {% include "songthread/spotify_search.html" %}
</div>
<div class="span3">
    <p class="form_div lead">Or paste a Spotify URI</p>
    <div>
        <form id="songthread_create_form" method="post" action="." >
            {% csrf_token %}
            {% if form.spotify_uri.errors %}
                <div class="control-group error">
                    <div class="controls">
                        {{ form.spotify_uri }}
                        <span class="help-inline">{{ form.spotify_uri.errors }}</span>
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <div class="controls">
                    {{ form.spotify_uri }}
                    </div>
                </div>
            {% endif %}
            <div class="control-group">
                <div class="controls">
                    <input type="submit" class="btn btn-primary" value="Save"/>
                    <a class="btn btn-inverse" href="{% url songthread_list %}">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}



