{% extends "base.html" %}
{% load i18n %}
{% block primary %}
<div class="row-fluid">
    <div class="span4">
        <h2>Track name</h2>
        <h3>{{ object.track }}</h3>
        <iframe src="{{ spotify_embed_url }}{{ object.track.spotify_uri }}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
    <div class="span8">
    <h2>All entries</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Listen</th>
                    <th>Vote</th>
                </tr>
            </thead>
            <tbody>
                {% for song in songs %}
                    <tr>
                        <td>{{ song.number_of_votes }}</td>
                        <td>{{ song.user }}</td>
                        <td><audio src="{{ song.file.url }}" preload="none"/></td>
                        <td>{% include "vote/vote_form.html" with song_id=song.id vote=song.vote %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{% url song_create songthread.id %}"><i class="icon-ok icon-white"></i>Submit an entry</a>
    </div>
</div>
{% endblock %}