{% extends "base.html" %}
{% block primary %}
<h2>Most popular threads</h2>
{% if object_list|length == 0 %}
<p>There are currently no threads</p>
{% endif %}

<div id="songthread_canvas_container">
 <canvas width="700" height="500" id="songthread_canvas">
  <p>Anything in here will be replaced on browsers that support the canvas element</p>
 </canvas>
</div>
<div id="songthread_tags">
 <ul>
  {% for songthread in object_list %}
    <li><a href="{% url songthread_detail songthread.id %}">{{ songthread }}</a></li>
{% endfor %}
 </ul>
</div>
<a class="btn btn-primary pull-right" href="{% url songthread_create %}"><i class="icon-plus icon-white"></i>Create your own</a>

{% endblock %}