{% extends "base.html" %}
{% load i18n %}
{% block primary %}
<div class="row-fluid">
    <div class="span4">
        <h2>Track name</h2>
        <h3>{{ object.track }}</h3>
        <iframe src="{{ spotify_embed_url }}{{ object.track.spotify_uri }}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
    </div>
    <div class="span8">
    <h2>All entries</h2>
        <table id="songthread_entry_list" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Username</th>
                    <th>Listen</th>
                    <th>Vote</th>
                </tr>
            </thead>
            <tbody>
                {% for song in songs %}
                    <tr>
                        <td>{{ song.number_of_votes }}</td>
                        <td>{{ song.user }}</td>
                        <td><audio src="{{ song.file.url }}" preload="none"/></td>
                        <td>{% include "vote/vote_form.html" with vote=song.vote %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary pull-right" href="{% url song_create songthread.id %}"><i class="pre-text icon-plus icon-white"></i>Submit an entry</a>
    </div>
</div>
<div class="row-fluid">
    <div class="span4"></div>
    <div class="span8">
        <hr/>
        <div class="row">
            <div class="span12">
                <h2>Comments</h2>
                {% include "songthread/comment_form.html" with songthread_id=songthread.id %}
            </div>
        </div>
        <br />
        {% for comment in comments %}
        <div class="row">
            <div class="span12 comment">
                <div class="span2">
                    <a href="#" class="thumbnail">
                    <img src="http://www.placehold.it/96x96" alt="">
                </a>
                </div>
                <div class="span10">
                    <p><i><small>{{ comment.user }} ({{ comment.created_date|timesince }} ago)</small></i></p>
                    <p>{{ comment.content }}</p>
                </div>
            </div>
        </div>
            <p><a class="pull-right" href="#">Reply</a></p>
        <br />
        {% endfor %}
    </div>
</div>
{% endblock %}