<div class="span12">
    <form id="spotify_search_form" class="navbar-search pull-left">
        <input id="spotify_search_form_query" type="text" class="search-query" placeholder="Search">
        <button id="spotify_search_form_search" class="btn btn-success">Search</button>
        <button id="spotify_search_form_clear" class="btn btn-danger">Clear results</button>
    </form> 
    <br /><br />
    <div class="scroll_headers">
    <table id="headers_id" class="scroll_padded table table-bordered table-condensed table-hover">
      <thead>
        <tr height="18">
            <th>Name</th>
            <th>Artists</th>
            <th>Album</th>
            <th width="50"></th>
        </tr>
      </thead>
    </table>
  </div>
  <div id="scroll_body" class="scrolling">
    <table id="table_id" class="scroll_padded table-condensed table-hover">
      <tbody id="spotify_search_results">
      </tbody>
    </table>
  </div>
  <div id="spotify_search_results_pagination"> 
    <div class="pagination"><ul></ul></div>
  </div>
    
</div>
