<div class="span6">

    <form id="spotify_search_form" class="navbar-search pull-left">
        <input id="spotify_search_form_query" type="text" class="search-query" placeholder="Search">
    </form> 
    <br />
    <div id="spotify_search_results_pagination"> </div>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Artists</th>
                <th>Album</th>
            </tr>
        </thead>
        <tbody id="spotify_search_results" >
            <tr><td></td><td></td><td></td><td></td></tr>
        </tbody>
    </table>
    
</div>
