{% load i18n %}
<!DOCTYPE html> 
<html>
    <head>
        <title>Solo cover</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
    </head>

    <body>
        <div id="wrap">
            <div class="container">
                <div class="navbar navbar-static-top navbar-inverse navbar-fixed-top">
                    <div class="navbar-inner">
                        <ul class="nav">
                            <li class="active"><a href="{% url songthread_list %}">Home</a></li>
                            <li><a href="{% url songthread_list %}">About us</a></li>
                            <li><a href="{% url songthread_list %}">Help</a></li>
                        </ul>
                        <form class="navbar-search pull-left">
                            <input type="text" class="search-query" placeholder="Search">
                        </form>
                        <div class="dropdown btn-group pull-right">
                            <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> User</a>
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="icon-pencil"></i>Edit profile</a></li>
                                <li class="divider"></li>
                                <li>{% if user.is_authenticated %}<a href="{% url logout %}?next=/"><i class="icon-off"></i>Log out</a>{% else %}<a href="{% url login %}?next=/"><i class="icon-ok-circle"></i>Log in</a>{% endif %}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <header id="overview">
                    <div class="container">
                        <h1 class="banner">Solo cover</h1>
                        <p class="lead">Take to the stage.</p>
                    </div>
                </header>
                <div id="main_body" class="container-fluid">
                    <div class="row-fluid">
                        {% block leftBar %}{% endblock %}
                        {% block primary %}{% endblock %}
                        {% block rightBar %}{% endblock %}
                    </div>
                </div>
                <!--[if lt IE 9]><script type="text/javascript" src="{{ STATIC_URL }}js/excanvas.js"></script><![endif]-->
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
                <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
                <script src="{{ STATIC_URL }}js/jquery.tagcanvas.min.js"></script>
                <script src="{{ STATIC_URL }}js/YouSingDotCom.js"></script>
            </div>
            <div id="wrap"></div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>Designed and built by <a href="http://github.com/abbas123456" >abbas123456</a></p>
        </div>
        </footer>
    </body>
</html>