<!DOCTYPE html> 
<html>
    <head>
        <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
        <title>Solocover - {% block title %}Home{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
        <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-35600570-1']);
        _gaq.push(['_trackPageview']);
        
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>

    <body>
        <div id="wrap">
            <div id="container" class="container">
                <div class="navbar navbar-static-top navbar-inverse navbar-fixed-top">
                    <div class="navbar-inner">
                        <ul class="nav">
                            <li class="active"><a href="{% url songthread_list %}">Home</a></li>
                            <li><a href="{% url about_page %}">About</a></li>
                        </ul>
                        <form class="navbar-search pull-left">
                            <input type="text" class="search-query" placeholder="Search">
                        </form>
                        <div class="dropdown btn-group pull-right">
                            {% if user.is_authenticated %}
                                <a class="btn btn-primary" href="{{ user.get_profile.get_absolute_url }}"><i class="pre-text icon-user icon-white"></i>{{ user}}</a>
                            {% else %}
                                <a class="btn btn-primary" href="#"><i class="pre-text icon-user icon-white"></i>User</a>
                            {% endif %}
                            <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                    {% if user.is_authenticated %}
                                        <li><a href="{% url edit_profile %}"><i class="pre-text icon-pencil"></i>Edit profile</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{% url logout %}?next={% url songthread_list %}"><i class="pre-text icon-off"></i>Log out</a></li>
                                    {% else %}
                                        <li><a href="{% url login %}?next={% url edit_profile %}"><i class="pre-text icon-ok-circle"></i>Log in</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{% url register %}"><i class="pre-text icon-plus"></i>Register</a></li>
                                    {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header">
                    <div class="container">
                        <h1 class="banner">Solocover</h1>
                        <p class="lead">Take to the stage.</p>
                    </div>
                </div>
                <div id="main_body" class="container-fluid">
                    <div class="row-fluid">
                        {% block primary %}{% endblock %}
                    </div>
                </div>
                <!--[if lt IE 9]><script type="text/javascript" src="{{ STATIC_URL }}js/excanvas.js"></script><![endif]-->
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
                <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
                <script src="{{ STATIC_URL }}js/jquery.tagcanvas.min.js"></script>
                <script src="{{ STATIC_URL }}js/audio.min.js"></script>
                <script src="{{ STATIC_URL }}js/solocover.js"></script>
            </div>
            <div class="footer-wrap" id="push"></div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>Designed and built by <a href="http://github.com/abbas123456" >abbas123456</a></p>
        </div>
        </footer>
    </body>
</html>