{% load i18n %}
<!DOCTYPE html> 
<html>
    <head>
        <title>YouSing</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" />
        
    </head>

    <body>
        <div class="navbar navbar-static-top navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <ul class="nav">
                    <li class="active"><a href="/competitions">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
                <div class="btn-group pull-right">
                    <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> User</a>
                    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="icon-pencil"></i>Edit profile</a></li>
                        <li class="divider"></li>
                        <li>{% if user.is_authenticated %}<a href="{% url logout %}?next=/competitions"><i class="icon-off"></i>Log out</a>{% else %}<a href="{% url login %}?next=/competitions"><i class="icon-ok-circle"></i>Log in</a>{% endif %}</li>
                    </ul>
                </div>
             </div>
        </div>
        <header class="banner" id="overview">
            <div class="container">
                <h1>YouSong</h1>
                <p class="lead">Music is social.</p>
            </div>
        </header>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <h3>Genres</h3>
                    <ul class="unstyled">
                        <li><a href="/competitions">Hip Hop</a></li>
                        <li><a href="/competitions">Jazz</a></li>
                        <li><a href="/competitions">Dubstep</a></li>
                    </ul>
                </div>
                <div class="span9" id="content">
                    {% block primary %}{% endblock %}
                </div>
        </div>
        </div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}js/YouSingDotCom.js"></script>
    </body>
</html>