{% load i18n %}
<!DOCTYPE html> 
<html>
    <head>
        <title>Solo cover</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/styles.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
    </head>

    <body class="landing">
        <div id="wrap">
        <div class="container landing_box">
            <div class="row">
                <div class="span7">
                    <div class="hero-unit">
                        <h1>Solocover</h1>
                        <p class="lead">Take to the stage</p>
                        <p class="lead">Explore your favourite songs and listen to cover versions by friends and family.</p>
                        <p><a href="{% url songthread_list %}" class="btn btn-primary btn-large">Explore Solocover</a></p>
                   </div>
                </div>
                <div class="span4 landing_box_right">
                <br />
                    <h2 align="center">Register now</h2>
                    <form id="landing_page_register_form" action="." class="landing_box_form form-horizontal" method="post">
				        {% csrf_token %}
				        {% if form.username.errors %}
				       <div class="control-group error">
				           <label class="control-label" for="id_username">Username</label>
				           <div class="controls">
				               {{ form.username }}
				               <span class="help-inline">{{ form.username.errors }}</span>
				           </div>
				       </div>
				    {% else %}
				       <div class="control-group">
				           <label class="control-label" for="id_username">Username</label>
				           <div class="controls">
				               {{ form.username }}
				           </div>
				       </div>
				    {% endif %}
				    {% if form.email.errors %}
				       <div class="control-group error">
				           <label class="control-label" for="id_email">Email</label>
				           <div class="controls">
				               {{ form.email }}
				           </div>
				       </div>
				    {% else %}
				       <div class="control-group">
				           <label class="control-label" for="id_email">Email</label>
				           <div class="controls">
				               {{ form.email }}<span class="help-inline">This will not be shared</span>
				           </div>
				       </div>
				    {% endif %}
				    {% if form.password.errors %}
				        <div class="control-group error">
				           <label class="control-label" for="id_password">Password</label>
				           <div class="controls">
				               {{ form.password }}
				           </div>
				       </div>
				    {% else %}
				       <div class="control-group">
				           <label class="control-label" for="id_password">Password</label>
				           <div class="controls">
				               {{ form.password }}
				           </div>
				       </div>
				    {% endif %}
				    {% if form.non_field_errors %}
				        <div class="control-group error">
				           <label class="control-label" for="id_password_confirm">Confirm password</label>
				           <div class="controls">
				               {{ form.password_confirm }}
				           </div>
				       </div>
				    {% else %}
				       <div class="control-group">
				           <label class="control-label" for="id_password_confirm">Confirm password</label>
				           <div class="controls">
				               {{ form.password_confirm }}
				           </div>
				       </div>
				    {% endif %}      
				    <br />
					  <div class="control-group">
					      <div class="controls">
                            <input type="submit" class="btn btn-primary pull-right" value="Register" />
					      </div>
					  </div>
					</form>
                </div>
            </div>
        </div>
            <div id="wrap"></div>
        </div>
        <footer class="footer">
            <div class="container">
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>Designed and built by <a href="http://github.com/abbas123456" >abbas123456</a></p>
        </div>
        </footer>
    </body>
</html>