{% extends "base.html" %}
{% load i18n %}
{% block primary %}
<div class="row-fluid">
    <div class="span4">
        <h2>{{ object }}</h2>
        <img src="{{ object.get_profile.get_profile_image_path }}" alt="{{ object }}">
        <h4>Location</h4>
        <p>{{ object.get_profile.location }}</p>
        <h4>About me</h4>
        <p>{{ object.get_profile.about_me }}</p>
        <h4>Likes</h4>
        <p>{{ object.get_profile.likes }}</p>
        <h4>Dislikes</h4>
        <p>{{ object.get_profile.dislikes }}</p>
        
    </div>
    <div class="span8">
    <h2>All entries</h2>
        <table id="songthread_entry_list" class="table">
            <thead>
                <tr>
                    <th>Song</th>
                    <th>Listen</th>
                </tr>
            </thead>
            <tbody>
                {% for song in songs %}
                    <tr>
                        <td>{{ song.songthread.track }}</td>
                        <td><audio src="{{ song.file.url }}" preload="none"/></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}