{% extends "base.html" %}
{% block primary %}
    <form id="register_form" method="post" action="." class="form-horizontal form_div">
        {% csrf_token %}
        {% if form.username.errors %}
       <div class="control-group error">
           <label class="control-label" for="id_username">Username</label>
           <div class="controls">
               {{ form.username }}
               <span class="help-inline">{{ form.username.errors }}</span>
           </div>
       </div>
    {% else %}
       <div class="control-group">
           <label class="control-label" for="id_username">Username</label>
           <div class="controls">
               {{ form.username }}
           </div>
       </div>
    {% endif %}
    {% if form.email.errors %}
       <div class="control-group error">
           <label class="control-label" for="id_email">Email</label>
           <div class="controls">
               {{ form.email }}
               <span class="help-inline">{{ form.email.errors }}</span>
           </div>
       </div>
    {% else %}
       <div class="control-group">
           <label class="control-label" for="id_email">Email</label>
           <div class="controls">
               {{ form.email }}
           </div>
       </div>
    {% endif %}
    {% if form.non_field_errors %}
        <div class="control-group error">
           <label class="control-label" for="id_new_password">New password</label>
           <div class="controls">
               {{ form.new_password }}
               <span class="help-inline">{{ form.non_field_errors }}</span>
           </div>
       </div>
    {% else %}
       <div class="control-group">
           <label class="control-label" for="id_new_password">New password</label>
           <div class="controls">
               {{ form.new_password }}
           </div>
       </div>
    {% endif %}
    {% if form.non_field_errors %}
        <div class="control-group error">
           <label class="control-label" for="id_new_password_confirm">Confirm new password</label>
           <div class="controls">
               {{ form.new_password_confirm }}
               <span class="help-inline">{{ form.non_field_errors }}</span>
           </div>
       </div>
    {% else %}
       <div class="control-group">
           <label class="control-label" for="id_new_password_confirm">Confirm new password</label>
           <div class="controls">
               {{ form.new_password_confirm }}
           </div>
       </div>
    {% endif %}
    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-primary" value="Save" />
            <a class="btn btn-inverse" href="{% url songthread_list %}">Cancel</a>
        </div>
    </div>
    </form>
{% endblock %}