{% extends "base.html" %}
{% block primary %}

<p class="lead">What is Solocover?</p>
<p>Solcover is a song cover upload site and was created to combat the constant barrage of talent shows polluting our screens today by giving ordinary people a portal to explore other people's potential as well as their own.</p>

<p class="lead">How it works</p>
<p>The site is centred around something called threads. A thread is a page that lists a collection of cover songs performed by the users of the site. The thread also has a spotify play button that allows you to listen to the original track if you have spotify installed. Comments can be added to the thread and if you are logged in you can cast a vote for your favourite performances. </p>

<p class="lead">What you can do</p>
<p>If you fancy yourself as a bit of singer then please upload your songs, however, songs cannot be longer than a minute. If you don't want to sing you are still free to create a profile and listen to, comment on and vote for other user's songs.</p>

<p class="lead">Want more features?</p>
<p>Please <a href="mailto:feedback@solocover.com">email</a> us if you think the site can do with more features or if you just want to give general feedback</p>

<p class="lead">Can you code?</p>
<p>This site is completely open source, the code can be found on <a href="https://github.com/abbas123456/solocover">github</a>. Feel free to fork the project and add whatever features you like.</p>  

<p><small>This product uses a SPOTIFY API but is not endorsed, certified or otherwise approved in any way by Spotify. Spotify is the registered trade mark of the Spotify Group.</small></p>
{% endblock %}